<h1>
    Contacts
</h1>
<hr>
<table class="tableauDesContacts">
    <tr classe="enteteTableau">
        <td>Prénom</td>
        <td>Nom</td>
        <td>Email</td>
        <td>Téléphone</td>
        <td>Consulter</td>
        <td>Modifier</td>
        <td>Supprimer</td>
    </tr>
    <tr></tr>
    <?php foreach ($this->collectionContact as $contact) : ?>
        <tr>
            <td>
                <?php echo $contact->getNom(); ?>
            </td>
            <td>
                <?php echo $contact->getPrenom(); ?>
            </td>
            <td>
                <?php echo $contact->getEmail(); ?>
            </td>
            <td>
                <?php echo $contact->getTelephone(); ?>
            </td>

            <td>
                <a href="<?php echo $this->url('rContact-Gestion', array('action' => 'consulter', 'id' => $contact->getId())); ?>" >
                    <img alt="consulter" src="<?php ?>"></a>
            </td>
            <td>
                <a href="<?php echo $this->url('rContact-Gestion', array('action' => 'modifier', 'id' => $contact->getId())); ?>" >
                    <img alt="modifier" src="<?php ?>"></a>
            </td>
            <td>
                <a href="<?php echo $this->url('rContact-Gestion', array('action' => 'supprimer', 'id' => $contact->getId())); ?>" >
                    <img alt="supprimer" src="<?php ?>"></a>
            </td>

        </tr>                                              
    <?php endforeach; ?>
</table>
<hr>
<p>
    <a href="<?php echo $this->url('rContact-Gestion', array('action' => 'ajouter')); ?>
       ">Ajouter un contact</a>
</p>