<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <article>
                <form method="post" action="<?php echo $this->url('rContact-Gestion', array('action' => 'ajouter')); ?>">
                    <div class="form-group">
                        <label for="email">Adresse Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" >
                    </div>
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom" >
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Prénom" >
                    </div>
                    <div class="form-group">
                        <label for="telephone">Téléphone</label>
                        <input type="text" class="form-control" name="telephone" id="telephone" placeholder="Téléphone" >
                    </div>
                    <input type="hidden" name="id" />
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </article>
        </div>
    </div>
</div>
